*{
    box-sizing: border-box;
}
body{
    background-color: rgb(141, 6, 13);
    position: absolute;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
.student{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
}
.selected{
    font-size: 4rem;
    margin: 0;
}
.studentSelected{
    font-size: 4rem;
}
#start{
    margin: 3em;
    height: 10vh;
    transition: all .2s ease-in-out;
}
#start:hover{
    transform: scale(1.1);
}
canvas {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    pointer-events: none;
  }